<div class="page__footer-copyright">
See status and uptime of this site here: <a href="https://status.filippobuletto.info/" rel="nofollow noopener noreferrer"><img src="https://api.checklyhq.com/v1/badges/checks/e1ecc922-68c7-4019-94ce-925c21ac6753?style=social&theme=default" alt="Checkly"></a>&nbsp;<a href="/terms/">Terms and Privacy Policy</a>
</div>
<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
  /* paste this line in verbatim */
  window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
  /* customize formbutton below*/     
  formbutton("create", {
    action: "https://formspree.io/f/xdobyjlb",
    buttonImg: "<i class='fas fa-comments' style='font-size:32px'/>",
    theme: "classic",
    title: "LET'S TALK",
    description: "I'll get back to you as soon as possible.",
    fields: [
      {
        name: "name",
        type: "text",
        label: "Your Name",
        required: true,
      },
      { 
        type: "email", 
        label: "Email:", 
        name: "email",
        required: true,
        placeholder: "your@email.com"
      },
      {
        type: "textarea",
        label: "Message:",
        name: "message",
        placeholder: "What's on your mind?",
      },
      { type: "submit" }      
    ],
    styles: {
      title: {
        backgroundColor: "#008288",
        letterSpacing: "0.05em"
      },
      button: {
        backgroundColor: "#008288"
      }
    }
  });
</script>